<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="GULA_DB_HOST" value="172.18.0.2"/>
        <env name="GULA_DB_PORT" value="3306"/>
        <env name="GULA_DB_DATABASE" value="yc"/>
        <env name="GULA_DB_USERNAME" value="root"/>
        <env name="GULA_DB_PASSWORD" value="password"/>

    </php>
</phpunit>